# ============ Database config ============
DB_HOST=host.docker.internal
DB_PORT=3306
DB_USER=app_user
DB_PASSWORD=your_db_password
DB_NAME=ai_yuangong

# ============ LLM API 配置 ============
OPENAI_API_KEY=your_api_key_here
OPENAI_BASE_URL=https://api.openai.com/v1
OPENAI_MODEL=gpt-4o-mini

# ============ 应用配置 ============
# release 或 debug
APP_MODE=release
ADMIN_PASSWORD=your_admin_password # debug模式下，管理员密码不生效
